.main-container{
    display: flex;
    justify-content: space-around;
}
.card-container{
    width: 50%;
    box-shadow: 4px 4px 8px ;
    margin: auto;
    text-align: center;
}
.product-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    width:100%; margin: auto;
}
.card{
    border: 1px solid gray;
    padding: 10px;
}
.card-image{
    width: 150px;
    height: 150px;
    padding: 2px;
}
.N-p{
    display: flex;
    justify-content: space-around;
}